#banner {
	display: flex;
	justify-content: center;
}

#ultimas, #pelacables, #tituloinspiracion {
	font-family: Arial;
}

#defipela, #inspiracion {
	font-family: Arial;
	margin-left: 10px;
	margin-right: 200px;
}

footer {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}
